[submodule "PyPlasmaOpt/LinkingNumber"]
	path = PyPlasmaOpt/LinkingNumber
	url = git@github.com:andrewgiuliani/LinkingNumber.git
[submodule "PyPlasmaOpt/pybind11"]
	path = PyPlasmaOpt/pybind11
	url = https://github.com/pybind/pybind11
[submodule "PyPlasmaOpt/TuRBO"]
	path = PyPlasmaOpt/TuRBO
	url = https://github.com/andrewgiuliani/TuRBO
[submodule "PyPlasmaOpt/xsimd"]
	path = PyPlasmaOpt/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "PyPlasmaOpt/simsopt"]
	path = PyPlasmaOpt/simsopt
	url = https://github.com/hiddenSymmetries/simsopt
[submodule "PyPlasmaOpt/xtensor"]
	path = PyPlasmaOpt/xtensor
	url = https://github.com/xtensor-stack/xtensor/
[submodule "PyPlasmaOpt/xtensor-python"]
	path = PyPlasmaOpt/xtensor-python
	url = https://github.com/xtensor-stack/xtensor-python
[submodule "PyPlasmaOpt/xtl"]
	path = PyPlasmaOpt/xtl
	url = https://github.com/xtensor-stack/xtl/
[submodule "PyPlasmaOpt/blaze"]
	path = PyPlasmaOpt/blaze
	url = https://github.com/blaze/blaze
